.booking-popup {
  font-family: Arial, sans-serif;
  width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.booking-popup h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  margin-bottom: 20px; 
}

.booking-popup form {
  display: flex;
  flex-direction: column;
}

.booking-popup .input-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.booking-popup .input-wrapper {
  flex: 1;
  margin-right: 10px;
}

.booking-popup #pickup-location,
.booking-popup #dropoff-location {
  width: 90%;
  max-width: calc(100% - 20px);
}

.booking-popup .datetime-group {
  display: flex;
  flex: 1;
}

.booking-popup .datetime-wrapper {
  flex: 1;
  margin-right: 10px;
}

.booking-popup label {
  margin-bottom: 5px;
  color: #333; 
  font-weight: bold; 
}

.booking-popup input,
.booking-popup select {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  background-color: #f3f3f3; 
  color: #333; 
}

.booking-popup input[type="date"] {
  background: linear-gradient(to right, #f3f3f3 70%, #99a3ae 20%);
}
.booking-popup input[type="time"] {
  background: linear-gradient(to right, #f3f3f3 70%, #99a3ae  20%);
}
.booking-popup input:focus,
.booking-popup select:focus {
  border-color: #007bff;
}

.booking-popup button {
  padding: 15px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em; 
}

.booking-popup button:hover {
  background-color: #0056b3;
}

.booking-popup .input-wrapper label {
  margin-right: 150px; 
}

.booking-popup label[for="pickup-date"] {
  margin-right: 28px; 
}
.booking-popup label[for="dropoff-date"] {
  margin-right: 20px; 
}





